@font-face {
    font-family: 'DejaVu Sans';
    src: url(../../fonts/DejaVuSans.ttf) format("ttf"); 
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'DejaVu Sans Bold';
    src: url(../../fonts/DejaVuSans-Bold.ttf) format("ttf"); 
    font-style: normal;
    font-weight: bold;
}