// colors

$text: #ffffff;
$textSecondary: #475467;
$white: #ffffff;
$black: #000000;
$blue: #0062b1;
$blueHover: #0364B390;
$blueActive: #3D57CC;
$blueLight: #EEF1FF;
$blueGray: #475467;
$gray: #D0D5DD;
$grayLightText: #667085;
$grayLightMobileBG: #F9FAFB;
$grayBorder: #5c6573;
$cardBorder: #E4E7EC;

$bgColor: #081929;
$logoColor: #27343f;

$font: 'DejaVu Sans', sans-serif;


//Media device sizes
$desktop-xxl: 1920px;
$desktop-large: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 300ms;
$header-menu-animation: cubic-bezier(1, 0, 0, 1);
